<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.rubis.oscar.rcp"
            application="org.rubis.oscar.rcp.application">
         <property
               name="applicationXMI"
               value="org.rubis.oscar.rcp/Application.e4xmi">
         </property>
         <property
               name="appName"
               value="org.rubis.oscar.rcp">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rubis.oscar.rcp.Perspective"
            id="org.rubis.oscar.rcp.perspective"
            name="Oscar Perspective">
      </perspective>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rubis.oscar.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.rubis.oscar.rcp.gef.editor.OSCARGraphicalEditor"
            default="false"
            extensions="oscar"
            id="org.rubis.oscar.rcp.editorID"
            name="OSCAR Editor">
      </editor>
   </extension>

</plugin>
