<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.rubis.oscar.oscarcore.gef.editor.OSCARGraphicalEditor"
            default="false"
            extensions="oscar"
            id="org.rubis.oscar.oscarcore.gef.editorID"
            name="OSCAR Graphical Editor">
      </editor>
   </extension>
   <extension
         id="oscargef"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="OSCAR Product">
      </product>
   </extension>

</plugin>
