<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated oscarcore -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="oscarcore.presentation.OscarcoreModelWizardID"
            name="%_UI_OscarcoreModelWizard_label"
            class="oscarcore.presentation.OscarcoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OscarcoreModelFile.gif">
         <description>%_UI_OscarcoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated oscarcore -->
      <editor
            id="oscarcore.presentation.OscarcoreEditorID"
            name="%_UI_OscarcoreEditor_label"
            icon="icons/full/obj16/OscarcoreModelFile.gif"
            extensions="oscarcore"
            class="oscarcore.presentation.OscarcoreEditor"
            contributorClass="oscarcore.presentation.OscarcoreActionBarContributor">
      </editor>
   </extension>

</plugin>
